<p>There are three types of consultants: </p>
    <ul>
        <li>
            A <b>diligent</b> consultant (🎓) always reports the truth to you. That is, if your Math score is indeed among the top {{Constants.percentile}}%, a clever consultant will always say "Your Math score was among the top". If your Math score is not among the top {{Constants.percentile}}%, a clever consultant will always say "Your Math score was <b>not</b> among the top".
        </li>
        <li>
            A <b>silly optimistic</b> consultant (😜) always say "Your Math score was among the top", no matter whether that is indeed true or not.
        </li>
        <li>
            A <b>silly pessimistic</b> consultant (😱) always say "Your Math score was <b>not</b> among the top", no matter whether that is indeed true or not.
        </li>
    </ul>