{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load app_filters %}
<head>
<meta charset='utf-8'>
</head>

{% block title %}
Choice Over Information Structure 
{% endblock %}

{% block content %}

     {% formfield player.CertainVSNoInfo with label="How likely is it that the picture you just saw is good?" %}
     {% formfield player.CertainVSImperfect with label="How likely is it that the picture you just saw is good?" %}
     {% formfield player.ImperfectVSNoInfo with label="How likely is it that the picture you just saw is good?" %}
    <div class="input-group">
     {% formfield player.Asym1VSAsym2 with label="State at what price you would prefer the right hand side + the price over the left hand side" %}
        {{ form.posterior}}<span class="input-group-addon"> 🎓🎓🎓🎓🎓🎓🎓🎓🎓🎓🎓 U+1F393 😜😜😜😜😜 U+1F61C and 😱😱😱 U+1F631 %</span>
    </div>

    {% next_button %}

<p> &1F393; 😃 </p>

{% endblock %}