
{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load app_filters %}


{% block title %}
Slider
{% endblock %}

{% block content %}
<div ng-app="rzSliderDemo">
    <div ng-controller="MainCtrl" class="wrapper">

<rzslider rz-slider-model="slider_ticks_values.value" rz-slider-options="slider_ticks_values.options"></rzslider>
    </div>
</div>


{% next_button %}

{% endblock %}          


{% block scripts %}

<script src="{% static 'slider/angular.min.js' %}"></script>
<script src="{% static 'slider/angular-sanitize.js' %}"></script>
<script src="{% static 'slider/ui-bootstrap-tpls.js' %}"></script>
<script src="{% static 'slider/highlight.min.js' %}"></script>
<script src="{% static 'slider/angular-highlightjs.min.js' %}"></script>
<script src="{% static 'slider/rzslider.js' %}"></script>
<script src="{% static 'slider/demo.js' %}"></script>

<link rel="stylesheet" href="{% static 'slider/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'slider/rzslider.css' %}"/>
<link rel="stylesheet" href="{% static 'slider/highlightjs-default.css' %}"/>
<link rel="stylesheet" href="{% static 'slider/demo.css' %}"/>
{% endblock %}